[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
pydantic = "*"
numpy = "*"
isort = "*"
flake8 = "*"
mypy = "*"
black = {version = "*", extras = ["jupyter"]}

[dev-packages]

[requires]
python_version = "3.12"
